{% load static %}
{% with request.resolver_match.view_name as view_name %}
  <header>
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
        <a >
          <img src="{% static 'img/logotip.png' %}"  width="50" height="50" class="align-top" alt="">
          Блогикум. Часть 1.
        </a>
        <ul class="nav  nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'blog:index' %}active{% endif %}" href="{% url 'blog:index' %}">
              Лента
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'pages:about' %}active{% endif %}" href="{% url 'pages:about' %}">
              О проекте
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'pages:rules' %}active{% endif %}" href="{% url 'pages:rules' %}">
             Правила
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  {% endwith %}
